<div th:fragment="nav" >

    <!--header start-->
    <header class="header fixed-top clearfix">
    <!--logo start-->
    <div class="brand">
        <a href="/" class="logo">
            RUARDUAN
        </a>
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
        </div>
    </div>
    <!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <script src="js/nav.js"></script>
        <!--  notification start -->
        <ul class="nav top-menu">
            <li id="header_inbox_bar" class="dropdown">
                
                <a data-toggle="dropdown" class="dropdown-toggle" href="#" onclick="alertNoti()">
                    <i class="fa fa-bell-o"></i>
                    <span id="numNoti" class="badge bg-important"></span>
                </a>
                <div class="dropdown-menu extended inbox">
                    <div id="alertdropdown">
                        <table class="table" id="alertdropdown">
                            <tbody id="dropdownbody">

                            </tbody>
                        </table>
                    </div>               
                   
                        <a href="#" class="pull-right see-all-txt">See all messages</a>
                    
                </div>
            </li>
        </ul>
    </div>

    <div class="top-nav clearfix">
        <!--search & user info start-->
        <ul class="nav pull-right top-menu">
            <!-- <li>
                <input type="text" class="form-control search" placeholder=" Search">
            </li> -->
            <!-- user login dropdown start-->
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                    <script>
                    $(document).ready(function() {
                        document.getElementById("show-name").innerHTML = window.localStorage.getItem("dataUsername");
                        console.log(window.localStorage.getItem("dataUsername"));
                    });

                    </script>
                    <span class="username" id="show-name"></span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu extended logout">
                    <li><a th:href="@{/logout}"><i class="fa fa-key"></i> Log Out</a></li>
                </ul>
            </li>
            <!-- user login dropdown end -->
        </ul>
        <!--search & user info end-->
    </div>
    </header>
    <!--header end-->


    <!--sidebar start-->
<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-database"></i>
                        <span>Data Management</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/boats"><i class="fa fa-ship"></i><span>Boats</span></a></li>
                        <li><a href="/piers"><i class="fa fa-flag"></i><span>Piers</span></a></li>
                        <li><a href="/places"><i class="fa fa-map-marker"></i><span>&nbsp; Places</span></a></li>
                        <li><a href="/accounts"><i class="fa fa-users"></i><span>Accounts</span></a></li>
                        <li><a href="/boat_schedule"><span>BoatType-Route-Schedule</span></a></li>
                        <li><a href="/boat_pier"><span>BoatType - Pier</span></a></li>
                        <li><a href="/placetype_place"><span>PlaceType - Place</span></a></li>
                    </ul>
                </li>

                 <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-bar-chart-o"></i>
                        <span>Statistics</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/stats"><i class="fa fa-eye"></i><span>Visitors</span></a></li>
                        <li><a href="/stats"><i class="fa fa-ticket"></i><span>Online tickets</span></a></li>
                        <li><a href="/stats"><i class="fa fa-usd"></i><span>&nbsp; Sales</span></a></li>
                    </ul>
                </li>
                
                <li>
                    <a th:href="@{/logout}">
                        <i class="fa fa-user"></i>
                        <span>Log Out</span>
                    </a>
                </li>
            </ul>            
          </div>
        <!-- sidebar menu end-->
    </div>
</aside>
<!--sidebar end-->

</div>