<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
    <head>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/data.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/stock/modules/export-data.js"></script>
	</head>
	<body>
        <div layout:fragment="content">
            <section id="main-content">
                <section class="wrapper">
                    <div class="market-updates">  
                        <div class="col-md-4 market-update-gd">
                            <div class="market-update-block clr-block-2">
                                <div class="col-md-4 market-update-right">
                                   <i class="fa fa-eye"></i> 
                                </div>
                                <div class="col-md-8 market-update-left">
                                <h4>Visitors</h4>
                                    <h3>17,250</h3>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-4 market-update-gd">
                            <div class="market-update-block clr-block-1">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-usd"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <h4>Sales</h4>
                                    <h3>1,500</h3>
                                </div>
                              <div class="clearfix"> </div>
                            </div>
                        </div>
                        <div class="col-md-4 market-update-gd">
                            <div class="market-update-block clr-block-4">
                                <div class="col-md-4 market-update-right">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                </div>
                                <div class="col-md-8 market-update-left">
                                    <h4>Orders</h4>
                                    <h3>1,200</h3>
                                </div>
                              <div class="clearfix"> </div>
                            </div>
                        </div>
                       <div class="clearfix"> </div>
                    </div>
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-md-12 w3ls-graph">
                                <div class="agileinfo-grap">
                                    <div class="agileits-box">
                                        <header class="agileits-box-header clearfix">
                                            <div class="toolbar"></div>
                                        </header>
                                        <div class="agileits-box-body clearfix">
                                            <div id="container" style=" margin: 0 auto"></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="container" style="height: 400px; min-width: 600px; max-width: 800px; margin: 0 auto"></div>
                                <script>
                                    $(document).ready(function() {
                                                                              
                                        var chartData = [];

                                        function getData(){
                                            $.getJSON('https://ruarduan-backend.com/tests', function(data){
                                                Highcharts.each(data, function(el){
                                                    el.x = new Date(el.operationDate).getTime();
                                                    el.y = Number(el.price);
                                                    chartData.push(el);
                                                });
                                                chartData.sort(function(a, b){
                                                    return a.x - b.x
                                                });
                                                chart.series[0].setData(chartData);
                                            });
                                        }
										
                                        var chart = Highcharts.stockChart('container', {

                                            chart: {
                                                type: 'areaspline'
                                            },
											
											plotOptions:{
												areaspline: {
													dataGrouping: {
														units: [
															['day', [1]],
															['week', [1]],
														],
														groupPixelWidth: 100
													}
												}
											},
										
											series: [{
												type: 'areaspline',
                                                name: 'Prices',
                                                data: getData(),
                                                lineWidth: 5,
                                                marker: {
                                                    enabled: true,
                                                    radius: 7
                                                },
												dataGrouping: {
													units: [
														['week', [1]]
													],
													groupPixelWidth: 100
												},
												fillColor: {
													linearGradient: {
														x1: 0,
														y1: 0,
														x2: 0,
														y2: 1
													},
													stops: [
														[0, Highcharts.getOptions().colors[0]],
														[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
													]
												}
                                            }],
											
                                            rangeSelector: {
												allButtonsEnabled: true,
												buttons: [{
													type: 'day',
													count: 1,
													text: 'Day',
													dataGrouping: {
														units: 	['day', [1]]
													}
												}, {
													type: 'week',
													count: 1,
													text: 'Week',
													dataGrouping: {
														units: ['week', [1]]
													}
												}],
												buttonTheme: {
													width: 60
												},
												selected: 0
											},

											title: {
												text: 'Ruarduan Ticket Sales'
											},

											subtitle: {
												text: 'Current in Baht'
											},
											
                                        });
                                        
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </body>
</html>
