<!DOCTYPE html>
<html>
	<head>
		<title>Ruarduan Admin | Login </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="apple-touch-icon" sizes="57x57" href="icon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="icon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="icon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="icon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="icon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="icon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="icon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
		<link rel="manifest" href="icon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="icon/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
		<!-- bootstrap-css -->
		<link rel="stylesheet" href="css/bootstrap.min.css" >
		<!-- //bootstrap-css -->
		<!-- Custom CSS -->
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<link href="css/style-responsive.css" rel="stylesheet"/>
		<!-- font-awesome icons -->
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href="css/font-awesome.css" rel="stylesheet"> 
		<!-- //font-awesome icons -->
		<script src="js/jquery2.0.3.min.js"></script>
	</head>

	<body class="bg">
		<div class="log-w3">
		<div class="w3layouts-main">
			<h2>Sign In Now</h2>
				<form action="#" method="post" class="validate-form">
					<span class="ggg">Username</span>
					<div class="validate-input" >
						<input type="text" class="ggg input-100" id="username" name="username" placeholder="USERNAME" required="">
					</div>
					<span>Password</span>
					<div class="valiadate-input" >
						<input type="password" class="ggg input-100" id="password" name="password" placeholder="PASSWORD" required="">
					</div>
						<div class="clearfix"></div>
						<input type="submit" value="Sign In" name="login">
				</form>
				<p>Don't Have an Account ?<a href="/registration">Create an account</a></p>
		</div>
		</div>
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/jquery.slimscroll.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/flot-chart/excanvas.min.js"></script><![endif]-->
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/login.js"></script>
	</body>
</html>
