<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Ruarduan Admin | Login </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="icon" type="image/png" sizes="32x32" href="icon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="icon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="icon/favicon-16x16.png">
		<link rel="manifest" href="icon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="theme-color" content="#ffffff">
		
		<link rel="stylesheet" href="css/bootstrap.min.css" >
	
		<link href="css/style.css" rel='stylesheet' type='text/css' />
		<link href="css/style-responsive.css" rel="stylesheet"/>
		
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/font.css" type="text/css"/>
		<link href="css/font-awesome.css" rel="stylesheet"> 
		

	</head>

	<body class="bg">
		<div class="log-w3">
		<div class="w3layouts-main">
			
			<img class="center icon" alt="" src="icon/favicon-96x96.png">
			<br>
			<h2>Sign In Now</h2>
				<form th:action="@{/}" method="post" class="validate-form">
					<div id="invaildtime" th:if="${param.error}" class="alert col-md-10 col-md-offset-1 alert-txt-box">
                        Invalid Username or Password.
                    </div>
                    <div id="logouttime" th:if="${param.logout}" class="alert col-md-10 col-md-offset-1 alert-txt-box">
                        You have been logged out.
                    </div>
					<span class="ggg">Username</span>
					<div class="wrap-input100 validate-input" data-validate="Username is required">
						<input type="text" class="ggg input100" id="username" name="username" placeholder="USERNAME">
						<span class="focus-input100"></span>
					</div>
					<span>Password</span>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input type="password" class="ggg input100" id="password" name="password" placeholder="PASSWORD">
						<span class="focus-input100"></span>
					</div>
						<div class="clearfix"></div>
						<input type="submit" value="Sign In" name="login">
				</form>
				<p>Don't Have an Account ?<a href="/registration">Create an account</a></p>
		</div>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery.dcjqaccordion.2.7.js"></script>
		<script src="js/jquery.slimscroll.js"></script>
		<script src="js/jquery.nicescroll.js"></script>
		
		<script src="js/jquery.scrollTo.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/login.js"></script>
		
	</body>
</html> 
