<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
    <body>
        <div layout:fragment="content">
            <section id="main-content">
                <section class="wrapper">
                    <div class="table-agile-info">
                     <div class="panel panel-default">
                        <div class="panel-heading">Staff Lists</div>
                        <div>
                          <table class="table table-bordered text-center" ui-jq="footable" ui-options='{
                            "paging": {
                              "enabled": true
                            },
                            "filtering": {
                              "enabled": true
                            },
                            "sorting": {
                              "enabled": true
                            }}'>
                            <thead>
                              <tr class="table-head">
                                <th scope="col" class="text-center">ID</th>
                                <th scope="col" class="text-center">Emp Code</th>
                                <th scope="col" class="text-center">First Name</th>
                                <th scope="col" class="text-center">Last Name</th>
                                <th scope="col" class="text-center">E-mail</th>
                                <th scope="col" class="text-center">Phone</th>
                                <th scope="col" class="text-center" >Username</th>
                                <th scope="col" colspan="2" class="text-center">Operation</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td scope="row">1</td>
                                <td>S0001</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>mail@gmail.com</td>
                                <td>0xx-xxxxxxx</td>
                                <td>Tester</td>
                                <td>
                                  <div class="edit-btn">
                                    EDIT
                                  </div>
                                </td>
                                <td>
                                  <div class="del-btn">
                                    DELETE
                                  </div>
                                </td>
                              </tr>
                              <tr>
                                <td scope="row">2</td>
                                <td>S0002</td>
                                <td>Test</td>
                                <td>Test</td>
                                <td>mail@gmail.com</td>
                                <td>0xx-xxxxxxx</td>
                                <td>Tester</td>
                                 <td>
                                  <div class="edit-btn">
                                    EDIT
                                  </div>
                                </td>
                                <td>
                                  <div class="del-btn">
                                    DELETE
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                       <div class="text-right">
                           <a href="/registration" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">ADD STAFF</a>
                        </div>
                    </div>
                </section>
            </section>
        </div>
    </body>
</html>